* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-active: rgba(247, 81, 20, 0.968);
}

html {
    scroll-behavior: smooth;
}

::selection {
    color: white;
    background: black;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

#preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url(../img/loder.gif) center no-repeat;
    z-index: 9999;
    background-size: 30%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.title {
    color: var(--color-active);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    text-transform: capitalize;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.up-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    background-color: var(--color-active);
    padding: 10px;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

.up-button:hover {
    box-shadow: 0px 0px 10px var(--color-active);
}

.up-button i {
    color: white;
    font-size: 20px;
}

/* box setting */
.setting-box {
    position: fixed;
    z-index: 1000;
    background-color: white;
    height: 100vh;
    width: 200px;
    left: -200px;
    transition: 0.3s;
}

.setting-box.opened {
    left: 0;
}

.setting-box .toggle-settings {
    position: absolute;
    left: 200px;
    background-color: white;
    padding: 10px;
    top: 130px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #eeeeee;
}

.setting-box .setting-container .option-box {
    background-color: #eee;
    padding: 20px 10px;
    margin: 20px 0 0px;
}

.setting-box .setting-container .option-box h4 {
    color: #666;
    margin-bottom: 15px;
    font-size: 17px;
    text-transform: capitalize;
    text-align: center;
}

.setting-box .setting-container .option-box .color-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.setting-box .setting-container .option-box .color-links li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.setting-box .setting-container .option-box .color-links li.active {
    outline: 4px solid #fff;
}

.setting-box .setting-container .option-box .color-links li:first-child {
    background-color: rgba(247, 81, 20, 0.968);
}

.setting-box .setting-container .option-box .color-links li:nth-child(2) {
    background-color: #E91E63;
}

.setting-box .setting-container .option-box .color-links li:nth-child(3) {
    background-color: #009688;
}

.setting-box .setting-container .option-box .color-links li:nth-child(4) {
    background-color: #03A9F4;
}

.setting-box .setting-container .option-box .color-links li:nth-child(5) {
    background-color: #4CAF50;
}

.setting-box .setting-container .optionBtn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.setting-box .setting-container .optionBtn span {
    background-color: #009688;
    color: white;
    width: 50px;
    text-align: center;
    padding: 3px 10px;
    border-radius: 15px;
    opacity: 0.5;
    cursor: pointer;
}

.setting-box .setting-container .optionBtn span:hover {
    opacity: 1;
}

.setting-box .setting-container .optionBtn span.active {
    opacity: 1;
}

.reset-options {
    width: 170px;
    display: block;
    border: none;
    color: white;
    background-color: red;
    padding: 5px 10px;
    margin: 15px auto;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* end box  setting */

/* start to section */
.tosection {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 44px;
    z-index: 100;
    display: none;
}

.tosection li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
    text-align: center;
    height: 20px;
}

.tosection li:hover div {
    display: block;
}

.tosection li div {
    display: block;
    position: relative;
    background-color: var(--color-active);
    padding: 5px;
    margin-right: 10px;
    transition: 0.3s;
    display: none;
    color: white;
    width: 100px;
    text-transform: capitalize;
}

.tosection li div::after {
    content: '';
    position: absolute;
    border-color: transparent transparent transparent var(--color-active);
    border-style: solid;
    border-width: 7px;
    top: 8px;
    right: -14px;
}

.tosection li span {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 3px solid var(--color-active);
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
}

/* end to section */

/* start landing */

.landing {
    position: relative;
    background-image: url("../img/1.jpg");
    background-size: cover;
    min-height: 100vh;
}

.landing .overlayer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

nav {
    position: relative;
    color: #fff;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
    z-index: 1000;

}

nav .logo {
    width: fit-content;
    font-size: 18px;
    font-weight: bold;
}

nav .links {
    display: flex;
    gap: 15px;
}

nav>i.fa-solid {
    font-size: 24px;
    cursor: pointer;
    display: none;
    margin-right: 20px;
}

@media (max-width:992px) {
    nav .links {
        display: none;
    }

    nav>i.fa-solid {
        display: block;
    }
}

nav .links li a {
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
}

nav .links li a.active,
nav .links li a:hover {
    color: var(--color-active);
}


nav .mini-menu {
    position: absolute;
    background-color: white;
    top: 90%;
    width: 100%;
    padding: 10px 10px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}


@media (min-width:992px) {
    nav .mini-menu {
        opacity: 0 !important;
        visibility: hidden !important;
    }
}


nav .display-mini-menu {
    opacity: 1;
    visibility: visible;

}

nav .mini-menu::after {
    content: '';
    position: absolute;
    border-color: transparent transparent white transparent;
    border-style: solid;
    border-width: 10px;
    top: -20px;
    right: 21px;
}

nav .mini-menu .menu-links li {
    padding: 10px 20px;

}

nav .mini-menu .menu-links li:not(li:last-child) {
    border-bottom: 1px solid #009688;

}

nav .mini-menu .menu-links li a {
    color: var(--color-active);
    display: block;
    margin-bottom: 5px;
    color: black;
    text-align: left;
}

nav .mini-menu .menu-links li a:hover {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}

.landing-text {
    position: absolute;
    z-index: 2;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-text h2 {
    margin-bottom: 20px;
    font-size: 50px;

}

.landing-text h2 span {
    color: var(--color-active);
}

.landing-text p {
    line-height: 1.5;
    font-size: 18px;

}

/* end landing */


/* start about */
.about_us {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about_us .container {
    display: flex;
    align-items: center;
}

.about_us .text {
    flex: 1;
}

.about_us .text h3 {
    color: var(--color-active);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about_us .text p {
    line-height: 1.6;
    color: #767676;
}

.about_us .image {
    flex: 1;
    text-align: center;
}

@media (max-width:768px) {
    .about_us .image {
        display: none;
    }
}

.about_us .image img {
    max-width: 100%;
}

/* end about */

/* skills */
.skills {
    background-color: #eee;
    padding-top: 50px;
    padding-bottom: 50px;
}

.skills .container .skills-bar {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 15px;
}

.skills .container .skills-bar h2 {
    width: 140px;
    text-transform: capitalize;
    color: black;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.skills .container .skills-bar .skills-process {
    position: relative;
    flex-basis: 85%;
    background-color: rgb(247, 243, 243);
    height: 30px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.skills .container .skills-bar .skills-process::after {
    position: absolute;
    content: attr(data-set);
    right: 5px;
    top: 5px;
}


.skills .container .skills-bar .skills-process span {

    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 1s;
    background-color: var(--color-active);
}

/* end skills */

/* start gallary */
.gallary {
    padding-top: 50px;
    padding-bottom: 50px;
}

.gallary h2 {
    color: var(--color-active);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
}

.gallary .image {
    text-align: center;
}

.gallary .image img {
    width: 300px;
    margin: 5px;
    padding: 3px;
    border: 2px solid #ccc;
    background-color: #f4eeee;
    cursor: pointer;
}



.popurLayer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.imageBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 650px;
    border: 4px solid #666;
    background-color: #fff;
    padding: 15px;
}

.img-alt {
    color: var(--color-active);
    text-align: center;
    margin-bottom: 20px;
}

.closeBtn {
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: var(--color-active);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

/* end gallary */
.Timeline {
    padding: 50px 0;
    background-color: #eeeeee;
}

.Timeline .container .box-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 60px 20px;

}

@media (max-width:768px) {
    .Timeline .container .box-container {
        flex-direction: column;
    }
}

.Timeline .container .box-container::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 100%;
    background-color: var(--color-active);
}

.Timeline .container .box-container::before {
    content: "2020";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    background-color: var(--color-active);
}

.Timeline .container .box-container.two::before {
    content: "2021";
}

.Timeline .container .box-container.three::before {
    content: "2022";
}

.Timeline .container .box-container::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 100%;
    background-color: var(--color-active);
}

@media (max-width:768px) {
    .Timeline .container .box-container::after {
        left: 100%;
        top: 0;
        transform: none;
    }

    .Timeline .container .box-container::before {
        left: 90%;
    }
}


.Timeline .container .box-container .box {
    position: relative;
    background-color: white;
    padding: 20px;
    flex: 1;
    height: fit-content;
}

.Timeline .container .box-container .box.right {

    margin: 200px 0 0 50px;
}


@media (max-width:768px) {
    .Timeline .container .box-container .box.right {
        margin: 50px 0 0 0
    }
}

.Timeline .container .box-container .box::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: white;
    border: 3px solid var(--color-active);
    border-radius: 50%;
    z-index: 99;
}

.Timeline .container .box-container .box.left::before {
    right: -33px;
}

.Timeline .container .box-container .box.right::before {
    left: -33px;
}

.Timeline .container .box-container .box.left::after {

    content: '';
    position: absolute;
    border-color: transparent transparent transparent white;
    border-style: solid;
    border-width: 8px;
    top: 20px;
    right: -15px;

}

.Timeline .container .box-container .box.right::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px;
    top: 20px;
    border-color: transparent white transparent transparent;
    left: -15px;
}

@media (max-width:768px) {
    .Timeline .container .box-container .box.right::after {
        border-color: transparent transparent transparent white;
        top: 20px;
        left: 100%;
    }

    .Timeline .container .box-container .box.right::before {
        left: calc(100% + 13px);
    }

    .Timeline .container .box-container .box.left::before {
        right: -30px;
    }
}

.Timeline .container .box-container .box h3 {
    color: var(--color-active);
    text-transform: capitalize;
    margin-bottom: 10px;
}

.Timeline .container .box-container .box p {
    color: #767676;
    line-height: 1.8;
}


/* start features */
.features {
    padding: 50px 0;
}

.features .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.features .container .box {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.features .container .box::after {
    content: "";
    position: absolute;
    background-color: var(--color-active);
    width: 30%;
    transform: translateY(5px);
    height: 2px;

}


.features .container .box .image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 3px;
    margin-bottom: 20px;
    border: 3px solid #eee;
    text-align: center;
}

.features .container .box .image img {
    border-radius: 50%;
    padding: 10px;
    background-color: #eeee;
    max-width: 100%;
}

.features .container .box h3 {
    font-weight: bold;
    margin-bottom: 10px;
}


.features .container .box p {
    color: #767676;
    width: 90%;
}

/* end features */

/* start Testimonials */
.Testimonials {
    padding: 50px 0;
    background-image: linear-gradient(to right, var(--color-active) 0%, var(--color-active) 50%, rgb(51, 49, 49) 50%)
}

.Testimonials .container h2 {
    text-align: left;
    color: white;
}

.Testimonials .container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.Testimonials .container .box {
    padding: 20px;
    background-color: white;
}

.Testimonials .container .box p {
    color: #767676;
}

.Testimonials .container .box .info {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.Testimonials .container .box img {
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
}




/* end Testimonials */


/* start contact us  */
.contact-us {
    padding: 50px 0;
    background-image: url("../img/contact.png");
    background-size: cover;
}

.contact-us .form {
    display: flex;
    gap: 5px;
    align-items: center;
}

@media (max-width:768px) {
    .contact-us .form {
        flex-direction: column;
    }
}

.contact-us .form>div {
    flex: 1;
    width: 100%;
}

.contact-us .form>div input:focus,
.contact-us .form>div textarea:focus {
    outline: none;
}

.contact-us .form>div:first-child input {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    background-color: #eee;
}

.contact-us .form>div:first-child input::placeholder {
    text-transform: capitalize;
}

.contact-us .form>div input:focus::placeholder,
.contact-us .form>div textarea:focus::placeholder {
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.contact-us .form>div input:focus::-webkit-input-placeholder,
.contact-us .form>div textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.contact-us .form>div input:focus::-ms-input-placeholder,
.contact-us .form>div textarea:focus::-ms-input-placeholder {
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.contact-us .form>div:last-child {
    height: 201.6px;
}

.contact-us .form>div:last-child textarea {
    height: 70%;
    width: 100%;
    resize: none;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ccc;


}

@media (max-width:768px) {
    .contact-us .form>div:last-child textarea {
        height: 100px;
    }
}

.contact-us .form>div:last-child input {
    background-color: var(--color-active);
    border: none;
    width: 100%;
    padding: 10px 5px;
    color: white;
    cursor: pointer;
    margin-top: 8px;
}

/* end contact us  */